ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;

}
a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

#header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
    transition: all 0.5s;
  }
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
 #header #logo img {
    max-height: 80px;
  }
}
.ticker-btn {
  background: #8ab92d;
  color: #fff;
  padding: 6px 20px !important;
  text-transform: uppercase;
}
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.nav-menu li {
  position: relative;
  white-space: nowrap;
}
.nav-menu > li {
  float: left;
}
.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
.nav-menu ul ul {
  top: 0;
  left: 100%;
}
.nav-menu ul li {
  min-width: 180px;
  text-align: left;
}
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}
.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}
#nav-menu-container {
  margin: 0;
}
@media (min-width: 1200px) {
  #nav-menu-container {
  }
}
@media (max-width: 1199px) {
  #nav-menu-container {
  }
}
.nav-menu a {
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}
.nav-menu > li {
  margin-left: 10px;
}
.nav-menu ul {
  margin: 16px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}
.nav-menu ul li {
  transition: 0.3s;
}
.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none;
}
.nav-menu ul li:hover > a {
  color: #8ab92d;
}
.nav-menu ul ul {
  margin: 0;
}
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 16px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
#mobile-nav-toggle i {
  color: #8ab92d;
  font-weight: 900;
}
@media (max-width: 800px) {
  #mobile-nav-toggle {
    display: inline;
  }
  #nav-menu-container {
    display: none;
  }
}
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}
#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mobile-nav ul li {
  position: relative;
}
#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}
#mobile-nav ul li a:hover {
  color: #fff;
}
#mobile-nav ul li li {
  padding-left: 30px;
}
#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #8ab92d;
}
#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}
#mobile-nav ul .menu-item-active {
  color: #8ab92d;
}
#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
body.mobile-nav-active {
  overflow: hidden;
}
body.mobile-nav-active #mobile-nav {
  left: 0;
}
body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
.section-gap {
  padding: 120px 0;
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  margin-bottom: 20px;
}
.section-title p {
  font-size: 16px;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .section-title p br {
    display: none;
  }
}
.primary-btn {
  background-color: #8ab92d;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}
.primary-btn:focus {
  outline: none;
}
.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.primary-btn:hover {
  color: #fff;
}
.primary-btn:hover span {
  color: #fff;
  right: 20px;
}
.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}
.primary-btn.white span {
  color: #fff;
}
.primary-btn.white:hover {
  background: #fff;
  color: #8ab92d;
}
.primary-btn.white:hover span {
  color: #8ab92d;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner-area {
  background: url(../img/header-bg.jpg) center;
  background-size: cover;
}
.banner-area .overlay-bg {
  background: rgba(4, 9, 30, 0.85);
}
.banner-content {
  text-align: center;
  z-index: 2;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;
  margin-top: 20px;
}
.banner-content h1 span {
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 36px;
  }
}
@media (max-width: 991.98px) {
  .banner-content h1 br {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .banner-content h1 {
    font-size: 45px;
  }
}
@media (max-width: 414px) {
  .banner-content h1 {
    font-size: 32px;
  }
}
.banner-content h6 {
  text-transform: uppercase;
  color: #8ab92d;
  letter-spacing: 3;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .banner-content br {
    display: none;
  }
}
.banner-content h4 {
  color: #fff;
  margin-bottom: 6px;
  font-weight: 300;
}
.banner-content .lnr {
  color: #8ab92d;
  margin-right: 10px;
}
.primary-btn {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
}
.primary-btn:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.start-in {
  display: inline-flex;
  background-color: #8ab92d;
  color: #fff;
  padding: 5px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
#timer {
  padding: 30px 0;
  font-size: 24px;
  font-weight: 600;
}
#timer span {
  font-size: 14px;
  font-weight: 200;
  margin-right: 30px;
}
@media (max-width: 736px) {
  #timer span {
    font-size: 12px;
  }
}
.home-video-area {
  background-color: #f9f9ff;
}
.video-area {
  background-color: #f9f9ff;
}
.home-video-area .about-right {
  padding-right: 10%;
}
.home-video-area .about-right p span {
  font-weight: 500;
  color: #222;
}
.home-video-area .about-right .top-title {
  color: #8ab92d;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.home-video-area .about-right h1 {
  margin-bottom: 20px;
}
@media (max-width: 1366px) {
  .home-video-area .about-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .home-video-area .about-right h1 {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .home-video-area .about-right h1,
  .home-video-area .about-right p {
    margin-bottom: 8px;
  }
}
@media (max-width: 990px) {
  .home-video-area .about-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.home-aboutus-area {
  background-color: #222;
}
.home-aboutus-area .top-title {
  color: #8ab92d;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.home-aboutus-area .about-right {
  padding-right: 8%;
}
.home-aboutus-area .about-right h1 {
  margin-bottom: 15px;
}
.home-aboutus-area .about-right p span {
  color: #fff;
  font-weight: 500;
}
@media (max-width: 1366px) {
  .home-aboutus-area .about-right {
    padding: 15px;
  }
  .home-aboutus-area .about-right h1 {
    font-size: 24px;
  }
  .home-aboutus-area .about-right p span {
    font-size: 10px;
  }
}
.video-sec-area .video-left .primary-btn {
  background-color: #222;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.video-sec-area .video-left .primary-btn:hover {
  border: 1px solid #222;
  background-color: transparent;
  color: #222;
}
.video-sec-area .video-left h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8ab92d;
  font-size: 12px;
  font-weight: 300;
}
.video-sec-area .video-left h1 {
  padding-bottom: 20px;
}
.video-sec-area .video-left p span {
  color: #000;
  font-weight: 400;
}
@media (max-width: 960px) {
  .video-sec-area .video-left {
    margin-bottom: 80px;
  }
}
.video-sec-area .video-right {
  background-size: cover;
  height: 350px;
}
.video-sec-area .video-right .overlay-bg {
  background-color: rgba(0, 0, 0, 0.78);
}
.video-sec-area .video-right .play-btn {
  z-index: 2;
}
.video-sec-area .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.video-sec-area .owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  @inlcude transition();
}
.video-sec-area .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 25px 0px 0px;
  background: #8ab92d;
}
.spekers-area .owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.spekers-area .owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  @inlcude transition();
}
.spekers-area .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 25px 0px 0px;
  background: #8ab92d;
}
.single-speaker {
  background-color: #04091e;
}
.single-speaker h6 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #8ab92d;
  margin-bottom: 0;
}
.single-speaker h1 {
  margin: 20px 0;
}
.single-speaker .lnr {
  color: #fff;
  margin-right: 10px;
  font-weight: 700;
}
.single-speaker ul a {
  margin-right: 10px;
  color: #eee;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-speaker ul a:hover {
  color: #8ab92d;
}
.speaker-info {
  padding: 40px;
}
@media (max-width: 1366px) {
  .speaker-info h1 {
    font-size: 30px;
  }
}
@media (max-width: 1280px) {
  .speaker-info {
    padding: 10px 40px;
  }
  .speaker-info h1 {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .speaker-info {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .table-wrap {
    overflow-x: scroll;
  }
}
.table {
  text-align: center;
}
.table th {
  font-weight: 300;
}
.table .name {
  padding-top: 12px;
}
.table tr {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.table tr:hover {
  background-color: #8ab92d;
  color: #fff;
}
.thead-light .head {
  text-transform: uppercase;
  font-weight: 700;
  color: #222 !important;
}
.price-area {
  background: #f9f9ff;
}
.price-area .single-price {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 20px;
}
.price-area .single-price .package-no {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 140px;
  background-color: #e8f2d7;
  border-radius: 100px;
  align-items: center;
  display: grid;
  border: 30px solid #f3f8ea;
}
.price-area .single-price .top-part h4 {
  margin-top: 20px;
}
.price-area .single-price .package-list {
  padding: 30px 0;
}
.price-area .single-price .package-list ul li {
  padding: 10px 0;
  border-top: 1px solid #eee;
}
.price-area .single-price .package-list ul li:last-child {
  border-bottom: 1px solid #eee;
}
.price-area .single-price .bottom-part {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.price-area .single-price .bottom-part .price-btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  color: #222;
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: 600;
  display: inline-block;
}
.price-area .single-price:hover {
  transform: scale(1.1);
  z-index: 2;
  background-color: #8ab92d;
  color: #fff;
  cursor: pointer;
}
.price-area .single-price:hover h1,
.price-area .single-price:hover h4 {
  color: #fff;
}
.price-area .single-price:hover .package-no {
  border-color: #96c042;
  background-color: #accd6a;
}
@media (max-width: 960px) {
  .price-area .single-price {
    margin-bottom: 30px;
  }
}
@media (max-width: 736px) {
  .price-area .single-price {
    margin: 10px;
  }
}
.single-img img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-img img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
@media (max-width: 800px) {
  .single-img img {
    margin-bottom: 40px;
  }
}
.callaction-area {
  background: url(../img/callaction-bg.jpg) center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.callaction-area p {
  padding: 20px 0;
}
.callaction-area .overlay-bg {
  background-color: rgba(4, 9, 30, 0.75);
}
.callaction-btn {
  background-color: #8ab92d;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.callaction-btn:hover {
  background-color: transparent;
  border-color: #8ab92d;
  color: #8ab92d;
}
.footer-area {
  padding-top: 100px;
  background-color: #04091e;
}
h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.copy-right-text i,
.copy-right-text a {
  color: #8ab92d;
}
.footer-social a {
  padding-right: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer-social a:hover i {
  color: #8ab92d;
}
.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .footer-social {
    text-align: left;
  }
}
.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #fff;
  color: #eee;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px;
}
.single-footer-widget input:focus {
  background-color: #fff;
}
.single-footer-widget .bb-btn {
  color: #8ab92d;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer;
}
.single-footer-widget .info {
  position: absolute;
  margin-top: 20%;
  color: #fff;
  font-size: 12px;
}
.single-footer-widget .info.valid {
  color: green;
}
.single-footer-widget .info.error {
  color: red;
}
.single-footer-widget .click-btn {
  background-color: #8ab92d;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0;
}
.single-footer-widget ::-moz-selection {
  background-color: #191919 !important;
  color: #777;
}
.single-footer-widget ::selection {
  background-color: #191919 !important;
  color: #777;
}
.single-footer-widget ::-webkit-input-placeholder {
  color: #777;
  font-weight: 300;
}
.single-footer-widget :-moz-placeholder {
  color: #777;
  opacity: 1;
  font-weight: 300;
}
.single-footer-widget ::-moz-placeholder {
  color: #777;
  opacity: 1;
  font-weight: 300;
}
.single-footer-widget :-ms-input-placeholder {
  color: #777;
  font-weight: 300;
}
.single-footer-widget ::-ms-input-placeholder {
  color: #777;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .social-widget {
    margin-top: 30px;
  }
}
.footer-text {
  padding-top: 20px;
}
.footer-text a,
.footer-text i {
  color: #8ab92d;
}
.whole-wrap {
  background-color: #fff;
}
.generic-banner {
  background-color: #8ab92d;
  text-align: center;
}
.generic-banner .height {
  height: 600px;
}
@media (max-width: 767.98px) {
  .generic-banner .height {
    height: 400px;
  }
}
.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content h2 br {
    display: none;
  }
}
.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px;
}
@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content p br {
    display: none;
  }
}
.generic-content h1 {
  font-weight: 600;
}
.about-generic-area {
  background: #fff;
}
.about-generic-area p {
  margin-bottom: 20px;
}
.white-bg {
  background: #fff;
}
.section-top-border {
  padding: 70px 0;
  border-top: 1px dotted #eee;
}
.switch-wrap {
  margin-bottom: 10px;
}
.switch-wrap p {
  margin: 0;
}
